.main {
  width: 100%;
  height: 100vh;
  background-image: url('../../../assets/images/image.png');
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.centered-div {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  padding: 30px;
  border-radius: 20px;
  max-width: 620px;
  width: 100%;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.options {
  margin: 20px 0;
}

.options div {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 6px;
  margin: 6px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, border-color 0.3s;
}

.options div.selected {
  background-color: #fb5497;
  border-color: #fe2d96;
  color: white;
}

.custom-radio {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  font-weight: bold;
  font-size: 1rem;
  color: #fb5497;
}

.options div.selected .custom-radio {
  background-color: #fe2d96;
  border-color: #fe2d96;
  color: white;
}

label {
  font-size: 1rem;
  color: black;
}

.options div.selected label {
  color: white;
}

.next-btn {
  background-color: #ff0099;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.next-btn:hover {
  background-color: #ff66b2;
}

.error-message {
  color: red;
}

